{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}


<div class="container mt-5">
    <div class="row">
        <div class="col-3">

        </div>

    <div class="col-lg-6 col-md-12 col-sm-12 p-3 rounded mt-5 mb-5 " style="background: white">
            <h1>Вход</h1>
<form action="{% url 'login' %}" method="post">

      <div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
      </div>


  <input type="submit" class="btn btn-primary" value="Login"></input>
</form>
        <div class="col-3">

        </div>
    </div>
</div>

{% endblock %}